.avp-icon-dark{
    color: white;
}

.avp-icon-dark:hover{
    
}

.avp-icon-dark:active {
    color: red;
    transform: translateY(4px);
  }


.avp-control-buttons-left{    
    text-align: left;
}

.avp-test-icon{
    font-size: 50px!important;
    color: white;
}
